.container {
	background-color: #779ECB;
}

.center {
	text-align: center;
}

.content {
	padding-left: 5%;
	padding-right: 5%;
	background-color: white;
	opacity: 0.7;
}

.content h1 {
	text-align: center;
}

.jumbotron {
	color: white;
	background-color: #779ECB;
	border-radius: 0 !important;
}

.container h1 {
	text-align: center;
}

h3 {
	padding: 3px;
}

#bob-bar{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
